body {
    font-family: Papyrus, fantasy;
    text-align: center;
    background-image: url('https://img.freepik.com/free-vector/flat-lovely-spring-landscape-wallpaper_23-2148828258.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

p {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}

.skill {
    font-size: 40px;
    font-weight: bold;
    float: right;
    text-align: left;
    margin-right: 300px;
}

.swimming {
    float: right;
    clear: right; 
    font-size: 20px;
    text-align: left;
    margin: 0;
}

.prospect {
    font-size: 40px;
    font-weight: bold;
    float: right;
    text-align: left;
    margin-right: 300px;
}

.prospect-desc {
    float: right;
    clear: right; 
    font-size: 20px;
    text-align: left;
    margin: 0;
}

.calvert {
    font-size: 40px;
    font-weight: bold;
    position:absolute;
    top: 84%;
    right:18%;

}

.calvert-desc {
    font-size: 20px;
    margin: 0;
    position: absolute;
    top:99%;
    right:16%;
}

ul {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin: 0;
}

.container {
    background-color: green;
    padding: 30px; 
    margin: 10px auto; /* Centers the container */
    float: left;
    text-align: center; /* Centers the contents of the container */
    margin-left: 310px; 
    position: absolute;
}

.container2 {
    background-color: green;
    position: absolute;
    top: 20%;
    left: 2%;
    padding: 30px; 
    margin: 70px auto; 
    float:left;
}

.container2 {
    background-color: green;
    padding: 30px; 
    margin: 70px auto; 
    float: left;
}

.vertical-table {
    margin: 0;
    border-spacing: 50px;
}

.vertical-table tr {
    display: block;
    margin-bottom: 20px;
}

.vertical-table td {
    display: block;
    padding: 25px;
    border: 1px solid #a6eeba;
    text-align: center;
}

.favorites { background-color: red; }
.spots { background-color: blue; }
.skills { background-color: rgb(233, 233, 100); }
.home { background-color: grey; }

.vertical-table a {
    text-decoration: none;
    font-size: 40px; 
    color: rgb(229, 138, 245);
}

.content {
    padding: 30px; 
    float: right;
    clear: right; 
    text-align: left;
}

.vidgame {
    position:absolute;
    top: 30%;
    right: 40%;
}

.bike {
    margin-top: 200px;
    margin-left: 40px;
    width: 200px;
    height: 200px;
}

.beach {
    width: 400px;
    height: 300px;
}

.beach {
    position:absolute;
    top:50%;
    right:20%
}